
@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})

<div class="homepage container with__paddingtop">
    <h2>Hello Bro</h2>
</div>



@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})
