// FONT FAMILY
$font_idx: 1;
$font_default: Helvetica, Arial, sans-serif !default;

// Font Family Ex. (name, 'fonts/path')
// $font_family: (
//     FuturaStd-Book: 'fonts/FuturaStd-Book_gdi',
//     FuturaStd-Light: 'fonts/FuturaStd-Light_gdi',
//     FuturaStd-Medium: 'fonts/FuturaStd-Medium_gdi',
//     FuturaStd-Bold: 'fonts/FuturaStd-Bold_gdi',
//     FuturaStd-Heavy: 'fonts/FuturaStd-Heavy_gdi',
// );

$font_family: (
    sansRegular: 'fonts/the-sans/TheSansC4s-5_Plain',
    sansLight: 'fonts/the-sans/TheSansC4s-3_Light',
    sansBold: 'fonts/the-sans/TheSansC4s-7_Bold',
);

//color
$red: #da0d14;
$white: #fff;
$black: #000000;
$grey: #565656;
$lightgrey: #cecece;
$softgrey: #d9d9d9;
$softgrey2: #f0f0f0;

// BUTTONS
// Default Button Ex. (button-class, background-code, font-color)
$buttons:
    ('btn-red',$red, $white),
    ('btn-grey', $grey, $black),
    ('btn-softgrey', $lightgrey, $black),
    ('btn-white', $white, $red);

// text-align
$align: left center right;

// vertical-align
$vertical-align: top middle bottom;

// float
$float: left right;

// position
$position: top right bottom left;

// media-query
$media-query:
    (laptop, (min-width: 1366px)),
    (desktop, (min-width: 1200px)),
    (wide, (min-width: 992px)),
    (tablet, (min-width: 768px) and (max-width: 991px)),
    (mobile, (max-width: 767px)),
    (small-mobile, (max-width: 360px));
